# -*- encoding: utf-8 -*-
# ! python2

from __future__ import (absolute_import, division, print_function, unicode_literals)

from django.conf.urls import include, url
from rest_framework import routers

from .api import {% for model in models %}{{ model.name }}ViewSet{% if not loop.last %}, {% endif %}{% endfor %}

router = routers.SimpleRouter()

{% for model in models %}router.register(r'{{ model.name|lower }}', {{ model.name }}ViewSet)
{% endfor %}
urlpatterns = [
]
urlpatterns += router.urls
